NODE_ENV=Environment

COINGECKO_API_KEY=Coingecko_Key

NEXT_PUBLIC_DEVELOPMENT_BACKEND_URL=http://localhost:3001
NEXT_PUBLIC_PRODUCTION_BACKEND_URL=Hosted_Backend_URL

NEXT_PUBLIC_DEVELOPMENT_API_KEY=Authorization_Key
NEXT_PUBLIC_PRODUCTION_API_KEY=Authorization_Key

NEXT_PUBLIC_DEVELOPMENT_PRIVY_APP_ID=Privy_App_ID
NEXT_PUBLIC_PRODUCTION_PRIVY_APP_ID=Privy_App_ID

NEXT_PUBLIC_DEVELOPMENT_TREASURY_ADDRESS=0xYourTreasuryAddressHere
NEXT_PUBLIC_PRODUCTION_TREASURY_ADDRESS=0xYourTreasuryAddressHere